---
import MetaHead from '../components/MetaHead.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../constants';
import { getCollection } from 'astro:content';

const blogs = await getCollection('blog');
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Navbar />
        <main class="max-w-[780px] h-full mx-auto pt-14">
            <h2 class="text-center text-2xl">If today were the last day of my life</h2>
            <div class="mt-4">
                <h3 class="font-bold">最近更新:</h3>
            </div>
            {
                blogs.map((blog) => (
                    <article class="mt-8">
                        <h2 class="text-lg">
                            <a class="text-base-green font-bold">{blog.data.title}</a>
                        </h2>
                        <p class="text-[#7f8c9b] font-merriweather text-xs mt-4 my-2">{blog.data.publishDate}</p>
                        <div class="text-[#34495e] text-sm">{blog.data.excerpt}</div>
                    </article>
                ))
            }
        </main>
        <Footer />
    </body>
</html>
